@page "/Error"
@using System.Diagnostics

<PageTitle>Pick Driver</PageTitle>

<h1 class="text-danger">@Text["Error."]</h1>
<h2 class="text-danger">@Text["An error occurred while processing your request."]</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@Text["Request ID:"]</strong> <code>@RequestId</code>
    </p>
}

<h3>@Text["Development Mode"]</h3>
<p>@Text["Swapping to Development environment will display more detailed information about the error that occurred."]</p>
<p>@Text["The Development environment shouldn't be enabled for deployed applications. It can result in displaying sensitive information from exceptions to end users. For local debugging, enable the Development environment by setting the ASPNETCORE_ENVIRONMENT environment variable to Development and restarting the app."]</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
